.contacts
    a.contact(href="tel:+712345678")
        i.fa.fa-mobile.contact__icon(aria-hidden=true)
        span.contact__text +7-964-430-1616
    a.contact(href="mailto:info@business.co")
        i.fa.fa-envelope.contact__icon--email
    span.contact__text info@business.co
    a.fa-facebook-icon(href="facebook.com")
        i.fa.fa-facebook.facebook-icon